@tailwind base;
@tailwind components;
@tailwind utilities;

.my-hero{
  background-image: url('./assets/heroimg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
